// // 搜索框
// .maillist__hd {
//   .weui-search-bar::before {
//     display: none;
//   }
// }

// .weui-search-bar {
//   padding: 10px 15px;
//   background-color: #ffffff;
// }
// .weui-search-bar:after {
//   color: #e5e5e5;
//   border-bottom: 1px solid #e5e5e5;
// }
// .weui-search-bar__label,
// .weui-search-bar__box {
//   background-color: #f8f8f8;
// }
// 搜索结果
.searchbar-result {
  position: absolute;
  top: 45px;
  left: 0;
  right: 0;
  z-index: 99;
  height: auto;
  overflow: hidden;
  background-color: #ffffff;
}
